.content-wrapper {
  width: 100vw;
  height: 100vh;
  background-image: url('../images/selfportrait-1-full-bw21.png'), -webkit-linear-gradient(270deg, #212121, #212121);
  background-image: url('../images/selfportrait-1-full-bw21.png'), linear-gradient(180deg, #212121, #212121);
  background-position: 100% 100%, 0px 0px;
  background-size: contain, auto;
  background-repeat: no-repeat, repeat;
}

.navbar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100px;
  padding-right: 30px;
  padding-left: 30px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
}

.navbar-link {
  margin-right: 20px;
  margin-left: 20px;
  padding-top: 60px;
  font-family: 'Work Sans', sans-serif;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
}

